.Home_container{
    background-color:#2E335A ;
    flex: 1;
    height:100vh; 
}
.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchItems{
    margin-top: 5%;
    width: 40%;
    display: flex;
    color: #4F4E60;
    padding: 10px;
    border-radius: 10px;
    background-color: #1C1B33;
}
.searchIcon{
   cursor: pointer;
   color: #0ff046;
   border: #0ff046 2px solid;
   border-radius: 5px 0 0 5px;
   padding: 2px;
   margin-right: 5px;
}

.inputArea{
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #aff045;
    font-family: 'Courier New', Courier, monospace;
    caret-color: #87ceeb;
}
.countyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.countyName{
    color: #fff;
    font-weight: 400;
    font-size: 42px;
}
 [class^='this-']{
    color: #838386;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom:20px ;
 }
 .WeatherContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
 }
 .WeatherImg{
    width:25%;
    height:25%;
 }
 .Weatherdata{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
 }
 .temparature{
    color: #fff;
    display: flex;
    font-weight: 400;
    font-size: 62px;
 }

 .temparature>span{
    font-weight: 400;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
 }
 .Weatherdata>span{
    font-weight: 400;
    font-size: 18px;
    color: #838386;
    top: 20px ;
 }
 .forecastBtn{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
 }
 .forecastBtn>span{
    background-color: #4b5182;
    color: #838386;
    padding: 15px;
    border-radius: 10px;
 }
 .LinefOneBtn{
    background-color: #4b5182;
    text-decoration: none;
    color: #838386;
    padding: 15px;
    border-radius: 10px;
 }
 .LinefOneBtn.active,
 .LinefOneBtn:hover {
    background-color: rgb(75, 182, 248);
    color: #fff;
 }
 .footer{
    margin-top: 2%;
    padding-left:5% ;
    padding-right: 5%;
    height: 45vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(to bottom, #202d52, #505c79);
 }
 .WeatherImgFooter{
    width: 5%;
    height: 5%;
 }